In [105]:
import pandas as pd
import webget
import matplotlib as plt

URL = 'https://raw.githubusercontent.com/PatrickFenger/pythonAssignments/master/KoreanConflict.csv'
webget.download(URL)

Downloading file to ./KoreanConflict.csv

'./KoreanConflict.csv'

In [103]:
df = pd.read_csv("KoreanConflict.csv")
data = df['BRANCH']=='MARINE CORPS'

df.groupby('BRANCH').size()
# Q1: How many soldiers entered from a marine corps branch?
# Svar 1: MARINE CORPS har fleste antal 4509 
#
# BRANCH
# AIR FORCE        1552
# ARMY            29856
# MARINE CORPS     4509
# NAVY              657

BRANCH
AIR FORCE        1552
ARMY            29856
MARINE CORPS     4509
NAVY              657
dtype: int64

In [108]:
df.groupby('ENROLLMENT').size()
# Q2: Which enrollment was the most common?
# Svar 2: ACTIVE - REGULAR har de fleste antal som står på 23973
# 
# ENROLLMENT
# ACTIVE - GUARD/RESERVE     5089
# ACTIVE - REGULAR          23973
# SELECTED SERVICE           7512

ENROLLMENT
ACTIVE - GUARD/RESERVE     5089
ACTIVE - REGULAR          23973
SELECTED SERVICE           7512
dtype: int64

In [116]:

df.groupby('ETHNICITY').size()
df.groupby('ETHNICITY_1').size()
#df.groupby('ETHNICITY_2').size()
#
# Q3: Was there an ethnicity majority throughout the war - If so, which?
# Svar 3: Ja det er der. 
#
# AMERICAN INDIAN/ALASKA NATIVE                                                        3258
# ASIAN  (ALL BUT USAR INCLUDE PACIFIC ISLANDER IN THIS CODE)                           235
# BLACK OR AFRICAN AMERICAN                                                            3130
# NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER  (USAR SUBMITS F FOR PACIFIC ISLANDER)      142
# WHITE                                                                               29405
# CHINESE                                                                                18
# HISPANIC OR LATINO                                                                     40
# INDIAN TRIBES US                                                                      103
# JAPANESE                                                                              198
# NOT SPECIFIED                                                                       32122
# PUERTO RICAN                                                                          534

ETHNICITY_1
 ASIAN                                                                               3155
AMERICAN INDIAN/ALASKA NATIVE                                                           5
ASIAN  (ALL BUT USAR INCLUDE PACIFIC ISLANDER IN THIS CODE)                             3
BLACK OR AFRICAN AMERICAN                                                              40
CHINESE                                                                                18
HISPANIC OR LATINO                                                                     40
INDIAN TRIBES US                                                                      103
JAPANESE                                                                              198
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER  (USAR SUBMITS F FOR PACIFIC ISLANDER)        6
NOT SPECIFIED                                                                       32122
PUERTO RICAN                                                                          534
WHITE                                                                                 308
dtype: int64

In [124]:
# Q4: Which division had the most casualties?
pd.crosstab(df.DIVISION,df.FATALITY)

# Svar 4: 
# Division 1 MAR DIV har fleste dødtal
# ACCIDENT: 80,DECLARED: 24,DIED OF WOUNDS:18, KILLED IN ACTION:168

FATALITY,ACCIDENT,DECEASED,DECLARED DEAD,DIED OF WOUNDS,H,KILLED IN ACTION,PRESUMED DEAD
DIVISION,,,,,,,
5 CAV,0,0,0,0,0,1,0
1 4.5 ROCKET BTRY 1 4.5 ROCKET BN F,1,0,0,1,0,3,0
1 ABN RANGER CO,0,0,5,0,0,36,0
1 AIR DEL PLAT CMBT SERV CMD 1 MAR,0,0,0,0,0,4,0
1 AMPH TRAC BN FMF PAC,0,0,1,2,0,4,0
1 AMPH TRUCK CO FMF PAC,1,0,0,0,0,0,0
1 ANGLCO FMF PAC,0,0,1,0,0,0,0
1 BN 1 MAR 1 MAR DIV,3,0,2,10,0,48,0
1 BN 11 MAR 1 MAR DIV,0,0,1,0,0,0,0
1 BN 5 MAR 1 MAR DIV,0,0,0,1,0,1,0
1 BN 7 MAR 1 MAR DIV,0,0,2,11,0,54,0
1 CAV DIV,0,0,1,0,0,0,0
1 CMBT SERV GR 1 MAR DIV,0,0,0,0,0,1,0
1 ENGR BN 1 MAR DIV,0,0,0,0,0,5,0
1 FA OBSN BN,0,0,0,3,0,8,0
1 FTR INTCP SQ,0,0,0,0,0,1,0
1 LOUDSP LEAF CO,0,0,1,0,0,0,0
1 MAR 1 MAR DIV,0,0,1,3,0,10,0
1 MAR AIR WING,4,0,0,0,0,0,0
1 MAR DIV,8,0,24,18,0,168,0
1 MAR DIV,2,0,0,4,0,35,0
1 MAR DIV 7 MTR TRANS BN B CO,0,0,0,0,0,1,0
1 MAR DIV FMF,0,0,0,0,0,1,0
1 MAR WING SERV SQ,2,0,0,0,0,0,0
1 MASTER GND CONT INT 2 MAR AIR CON,1,0,0,0,0,3,0
1 MED BN 1 MAR DIV,0,0,0,0,0,2,0
1 MOTOR T,0,0,1,0,0,0,0
1 ORD BN 1 MAR DIV,0,0,0,0,0,1,0
1 ORD BOMB DISP DET,0,0,0,0,0,3,0
1 PROV CASUAL CO FMF PAC,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...
USS ULVERT M MOORE DE 442,0,0,0,0,0,1,0
USS UNION AKA 106,2,0,0,0,0,0,0
USS VALLEY FORGE CV 45,2,0,3,0,0,12,0
USS WALKE DD 723,0,0,0,0,0,25,0
USS WHETSTONE LSD 27,1,0,0,0,0,0,0
USS WILTSIE DD 716,1,0,0,0,0,0,0
VC 35 US NAVY,1,0,0,0,0,0,0
VCA DRT 44 N,0,0,1,0,0,0,0
VF 11 USS KEARSARGE CVS 33,0,0,1,0,0,0,0
VF 172 USS ESSEX CV 9,1,0,0,0,0,0,0
VF 192 USS PRINCETON CV 37,0,0,0,0,0,1,0
VF 54 USS ESSEX CV 9,1,0,0,0,0,0,0
VF 61 USS BOXER CV 21,0,0,1,0,0,0,0
VF 64 USS BOXER CV 21,1,0,0,0,0,0,0
VF 821 USS PRINCETON CV 37,1,0,0,0,0,0,0
VF 874,0,0,0,0,0,1,0
VMF 323 MAG 12,0,0,0,0,0,1,0
VP 772 PATROL BOMB SQ,4,0,0,1,0,0,0
WPNS CO 1,0,0,2,0,0,3,0
WPNS CO 1 BN 1 MAR 1 MAR DIV,0,0,0,3,0,7,0
WPNS CO 1 BN 5 MAR 1 MAR DIV,2,0,0,4,0,27,0
WPNS CO 1 BN 7 MAR 1 MAR DIV,1,0,0,4,0,18,0
WPNS CO 2,0,0,3,0,0,2,0
WPNS CO 2 BN 1 MAR 1 MAR DIV,0,0,0,2,0,15,0
WPNS CO 2 BN 5 MAR 1 MAR DIV,0,0,0,2,0,25,0
WPNS CO 2 BN 7 MAR 1 MAR DIV,0,0,0,2,0,18,0
WPNS CO 3,0,0,3,0,0,10,0
WPNS CO 3 BN 1 MAR 1 MAR DIV,0,0,0,6,0,26,0
WPNS CO 3 BN 5 MAR 1 MAR DIV,0,0,0,3,0,14,0
WPNS CO 3 BN 7 MAR 1 MAR DIV,1,0,0,5,0,17,0

In [129]:
df.groupby('HOME_STATE').size()
# Q5: Which Home state suffered the most losses?
# Svar 5: CALIFORNIA ligger på 2582

HOME_STATE
AL                         9
ALABAMA                  691
ALASKA                    10
AMERICAN SAMOA             1
AR                         4
ARIZONA                  245
ARKANSAS                 463
AZ                         2
CA                        23
CALIFORNIA              2582
CANAL ZONE                 1
CO                         5
COLORADO                 299
CONNECTICUT              320
CT                         6
DELAWARE                  45
DISTRICT OF COLUMBIA     158
FL                        10
FLORIDA                  566
GA                         7
GEORGIA                  749
GUAM                       2
HAWAII                   394
HI                        11
IA                         5
ID                         2
IDAHO                    129
IL                        15
ILLINOIS                1771
IN                         6
                        ...
OR                         3
OREGON                   271
PA                        31
PENNSYLVANIA            2369
PR                         1
PUERTO RICO              763
RHODE ISLAND             146
RI                         3
SC                         5
SOUTH CAROLINA           478
SOUTH DAKOTA             159
TENNESSEE                837
TEXAS                   1752
TN                         6
TX                        23
US                        42
UT                         2
UTAH                     139
VA                         7
VERMONT                   94
VI                         2
VIRGIN ISLANDS            74
VIRGINIA                 874
WA                         8
WASHINGTON               476
WEST VIRGINIA            812
WI                         5
WISCONSIN                742
WV                         2
WYOMING                   60
Length: 105, dtype: int64